<h1>Welcome to Battleship</h1>
<p>
	Battleship is a strategical game for two player.
	After placing the ships in game aria the two parties start to shoot after another.
	The game ends when one player lost all his ships.
	Before starting the game please enter your name and the id of your opponent to connect.
</p>
<div class="player-id">
	<h2>Your id: <span class="id"></span></h2>
</div>
<div class="player-name"><input class="name" type="text" placeholder="name"></div>
<div class="opponent-id"><input class="opponent" type="text" placeholder="opponent id"></div>
<div class="connect-btn">
	<button type="button" data-loading-text="Loading..." class="connect btn btn-primary" autocomplete="off">
		connect
	</button>
</div>
